.h2-section{
    font-size: 90px;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px;
    margin: 150px auto 60px;
}

.button-card{
    border-style: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    transition: 0.3s;
}

.button-card:hover{
    box-shadow: 0 0 1em #040303;
}

img{
    width: 110px;
}

.card-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px;
}

.text-img{
    text-align: center;
    margin-top: 60px;
    line-height: 15px;
}

/* #### */

@media (max-width: 600px){
    
    .h2-section{
        font-size: 50px;
        margin: 15px auto 0px;
    }

    img{
        width: 90px;
    }

    .card-imgs{
        gap: 20px;
    }

    .text-img{
        text-align: center;
        margin-top: 40px;
        line-height: normal;
        max-width: 300px;
        width: 100%;
        margin: 50px auto;
    }
}