footer{
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    margin-top: 150px;
}

.footer-h2{
    font-size: 80px;
}

footer p{
    width: 80%;
    line-height: 30px;
    font-size: 17px;
}